* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }

  h2{
    font-size: 18px;
    overflow:hidden;
    white-space: nowrap;
  }
  body {
    background-color: gainsboro;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .title {
    color: #44281d;
    font-size: 48px;
    text-align: center;
    margin: 40px;
  }

  #characterList {
    display: flex;
    flex-flow: row wrap;
    max-width: 830px;
    gap: 10px;
    margin: 10px auto;
    justify-content: center;
  }
  #characterList li{
    width: 200px;
    padding : 10px;
    text-align: center;
    list-style-type: none;
    background-color: #e4a788;
   
    border: 3px solid #44281d;
    border-bottom: 15px solid #44281d;
  }
  #characterList li img {
    width: 100%;
  }
  .flex{
    display: flex;
    flex-flow: row wrap;
  }
  .gen , .species{
    background: #97CE4C;
    width: fit-content;
    margin: 10px auto 0px;
    padding: 2px 10px;
    border-radius: 10px;
    border: 1px solid #44281d;
    font-size: 14px;
  }
  .species{
    background: #e89ac7;
  }
  p{
    margin-top:10px;
    width: 100%;
  }